@model form_asp_net_app.Models.User

<section class="w-50 shadow-sm p-3 rounded">
    <h4 class="text-center">🎉 User @Model.Name @Model.Surname has been created! 🎉</h4>

    <h5>Details</h5>
    <p>Name: <span class="text-primary fw-bold">@Model.Name</span></p>
    <p>Surname: <span class="text-primary fw-bold">@Model.Surname</span></p>
    <p>Address email: <span class="text-primary fw-bold">@Model.Email</span></p>
    <p>Phone number: <span class="text-primary fw-bold">@Model.Phone</span></p>
    <p>City: <span class="text-primary fw-bold">@Model.City</span></p>
    <p>Password: <span class="text-primary fw-bold">@Model.Password</span></p>
    <p>Repeat password: <span class="text-primary fw-bold">@Model.RepeatPassword </span></p>
</section>
